#title {
  background-color: #ff4c68;
  /* text-align: center; */
  color: white;
  /* overflow: hidden; */
}

.container-fluid {
  padding: 3% 15% 7%;
  padding-bottom: 100px;
}

body {}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  margin: 10% auto;
}
h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
}
.cta-header{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  color: #fff;
}

.navbar {
  margin: 20px auto;
  /* padding: 0; */
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(0);
}

@media (min-width : 992px) {
  .title-img {
    position: absolute;
    transform: rotate(25deg);
    top: 20%;
    right:25%;
  }
}
#features {
  position: relative;
  z-index: 1;
  padding: 7% 15%;
  background-color: white;
}

.features-row {
  text-align: center;
}

.feature-icon {
  margin: 10px;
  font-size: 5rem;
  color: #ef8172;
}
.feature-icon:hover{
  color: #ff4c68;
}
.features-heading{
  font-family: 'Montserrat';
  font-size: 1.5rem;
}
.features-col{
  margin: 40px auto;
}

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.testimonials-item{
   padding: 5% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 15px;
}

.press-img{
  width: 15%;
  margin: 20px;
  margin-bottom: 50px;

}

#pricing{
  padding: 100px;
  text-align: center;

}

.pricing-col{
  padding: 3% 2%;
}


#cta{
  text-align: center;
  background-color: #ff4c68;

  padding: 20% 15% 10%;

}

.social-icon{
  padding: 1%;
  font-size: large;
  color: black;
}
.social-icon:hover{
  color: gray;
}

#footer{
  text-align: center;
  padding: 5%;
}

.footer-text{
  font-size: 1.5rem;
  color: gray;

}
